.topShape {
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  width: 50%;
  height: 100%;
  margin: auto;
  /* border: 3px solid green; */
  padding: 10px;
}

.login-form {
  margin-top: 5rem;
  /* margin-right: ; */
  /* margin-left: -5%; */
  /* margin: auto; */
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}

#form {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 1rem;
  padding: 3rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* float: initial; */
  width: 90%;
  height: auto;
}
.side-image {
  width: 100%;
  height: 70%;
}
