body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topShape {
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  width: 50%;
  height: 100%;
  margin: auto;
  /* border: 3px solid green; */
  padding: 10px;
}

.login-form {
  margin-top: 3rem;
  /* margin-right: ; */
  /* margin-left: -5%; */
  /* margin: auto; */
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}

#form {
  background: #7ac0fd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #7ac0fd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #7ac0fd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 1rem;
  padding: 3rem 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 24px 0 rgba(0, 0, 0, 0.19);
  /* float: initial; */
  width: 90%;
  height: auto;
}
.side-image {
  width: 100%;
  height: 70%;
}
